#include <windows.h>
#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#define RT_MANIFEST 24
1 RT_MANIFEST "NimbleRun.manifest"
IDI_NIMBLERUN ICON "NimbleRun.ico"

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "NimbleRun"
            VALUE "FileDescription", "NimbleRun"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "NimbleRun"
            VALUE "OriginalFilename", "NimbleRun.exe"
            VALUE "ProductName", "NimbleRun"
            VALUE "ProductVersion", "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDD_SETTINGS DIALOGEX 0, 0, 440, 338
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "NimbleRun Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "GLOBAL HOTKEY", IDC_HOTKEY_GROUP, 8, 8, 208, 110
    LTEXT           "Shortcut", IDC_HOTKEY_LABEL, 16, 32, 58, 10
    LTEXT           "", IDC_HOTKEY_EDIT, 84, 30, 80, 14, SS_CENTERIMAGE | SS_NOPREFIX
    PUSHBUTTON      "Change", IDC_HOTKEY_CHANGE, 168, 29, 40, 16

    GROUPBOX        "LAUNCHER", IDC_LAUNCHER_GROUP, 224, 8, 208, 110
    LTEXT           "Recent apps", IDC_RECENT_LABEL, 232, 32, 80, 10
    EDITTEXT        IDC_RECENT_COUNT_EDIT, 382, 30, 40, 14, ES_NUMBER
    CONTROL         "Hide after launch", IDC_HIDE_AFTER_LAUNCH, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 232, 52, 150, 12
    CONTROL         "Launch at startup", IDC_AUTO_START, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 232, 68, 150, 12
    CONTROL         "Switch input to English on show", IDC_ENGLISH_INPUT_ON_SHOW, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 232, 84, 190, 12
    LTEXT           "Theme", IDC_THEME_LABEL, 232, 100, 50, 10
    COMBOBOX        IDC_THEME_COMBO, 334, 98, 88, 60, CBS_DROPDOWNLIST | WS_TABSTOP

    GROUPBOX        "CATALOG SOURCES", IDC_CATALOG_SOURCES_GROUP, 8, 126, 424, 144
    CONTROL         "Include Windows apps (Start Menu and installed apps)", IDC_INCLUDE_WINDOWS_APPS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 142, 400, 12
    LTEXT           "User folders:", IDC_FOLDERS_LABEL, 16, 164, 100, 10
    PUSHBUTTON      "Add...", IDC_ADD_FOLDER, 342, 160, 42, 16
    PUSHBUTTON      "Remove", IDC_REMOVE_FOLDER, 388, 160, 34, 16
    LISTBOX         IDC_FOLDERS_LIST, 16, 178, 406, 42, LBS_NOINTEGRALHEIGHT | WS_TABSTOP | WS_VSCROLL
    LTEXT           "Max subfolder depth", IDC_FOLDER_DEPTH_LABEL, 16, 230, 116, 10
    EDITTEXT        IDC_FOLDER_RECURSIVE, 136, 228, 40, 14, ES_NUMBER | WS_TABSTOP
    CONTROL         ".exe", IDC_EXT_EXE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 248, 58, 12
    CONTROL         ".cmd", IDC_EXT_CMD, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 80, 248, 58, 12
    CONTROL         ".bat", IDC_EXT_BAT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 144, 248, 58, 12
    CONTROL         ".lnk", IDC_EXT_LNK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 208, 248, 58, 12
    CONTROL         ".appref-ms", IDC_EXT_APPREF, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 272, 248, 78, 12

    CONTROL         "", -1, "Static", SS_ETCHEDHORZ, 8, 280, 424, 1
    PUSHBUTTON      "Clear usage history", IDC_CLEAR_USAGE, 8, 286, 100, 16
    PUSHBUTTON      "Reset settings", IDC_RESET_SETTINGS, 276, 286, 70, 16
    PUSHBUTTON      "Open log folder", IDC_OPEN_LOG_FOLDER, 350, 286, 82, 16
    LTEXT           "", IDC_STATUS, 8, 310, 190, 10
    PUSHBUTTON      "Cancel", IDCANCEL, 344, 310, 44, 16
    DEFPUSHBUTTON   "Save", IDOK, 396, 310, 36, 16
END

IDD_HOTKEY_CAPTURE DIALOGEX 0, 0, 240, 120
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Change Hotkey"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Press the key combination:", IDC_CAPTURE_PROMPT, 12, 10, 216, 10
    LTEXT           "", IDC_HOTKEY_HINT, 12, 24, 216, 10
    LTEXT           "", IDC_CAPTURE_DISPLAY, 12, 40, 216, 20
    LTEXT           "", IDC_CAPTURE_STATUS, 12, 64, 216, 22
    PUSHBUTTON      "Confirm", IDOK, 128, 96, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 182, 96, 50, 14
END
