#include <windows.h>
#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#define RT_MANIFEST 24
1 RT_MANIFEST "NimbleRun.manifest"
IDI_NIMBLERUN ICON "NimbleRun.ico"

IDD_SETTINGS DIALOGEX 0, 0, 300, 350
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "NimbleRun Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Global hotkey", IDC_HOTKEY_GROUP, 8, 6, 284, 46
    LTEXT           "Shortcut:", IDC_HOTKEY_LABEL, 16, 18, 44, 10
    EDITTEXT        IDC_HOTKEY_EDIT, 64, 16, 120, 13, ES_AUTOHSCROLL
    LTEXT           "Alt+Space, Ctrl+Alt+Space, ...", IDC_HOTKEY_HINT, 64, 34, 220, 10

    GROUPBOX        "Launcher", IDC_LAUNCHER_GROUP, 8, 58, 284, 100
    LTEXT           "Recent apps to show (8-40):", IDC_RECENT_LABEL, 16, 72, 120, 10
    EDITTEXT        IDC_RECENT_COUNT_EDIT, 140, 70, 40, 13, ES_NUMBER
    CONTROL         "Hide after launching an app", IDC_HIDE_AFTER_LAUNCH, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 92, 180, 12
    CONTROL         "Launch at startup", IDC_AUTO_START, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 106, 180, 12
    LTEXT           "Theme:", IDC_THEME_LABEL, 16, 130, 40, 10
    COMBOBOX        IDC_THEME_COMBO, 140, 128, 100, 60, CBS_DROPDOWNLIST | WS_TABSTOP

    GROUPBOX        "User folders", IDC_FOLDERS_GROUP, 8, 164, 284, 72
    LISTBOX         IDC_FOLDERS_LIST, 16, 176, 182, 52, LBS_NOINTEGRALHEIGHT | WS_TABSTOP | WS_VSCROLL
    PUSHBUTTON      "Add...", IDC_ADD_FOLDER, 206, 176, 78, 13
    PUSHBUTTON      "Remove", IDC_REMOVE_FOLDER, 206, 194, 78, 13
    CONTROL         "Include subfolders", IDC_FOLDER_RECURSIVE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 232, 130, 12

    GROUPBOX        "Extensions to scan", IDC_EXTENSIONS_GROUP, 8, 242, 284, 56
    CONTROL         ".exe", IDC_EXT_EXE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 256, 60, 12
    CONTROL         ".cmd", IDC_EXT_CMD, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 80, 256, 60, 12
    CONTROL         ".bat", IDC_EXT_BAT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 144, 256, 60, 12
    CONTROL         ".lnk", IDC_EXT_LNK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 208, 256, 60, 12
    CONTROL         ".appref-ms", IDC_EXT_APPREF, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 272, 70, 12

    PUSHBUTTON      "Clear usage history", IDC_CLEAR_USAGE, 16, 308, 110, 14
    PUSHBUTTON      "Reset settings", IDC_RESET_SETTINGS, 132, 308, 90, 14
    DEFPUSHBUTTON   "OK", IDOK, 232, 308, 60, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 168, 326, 60, 14

    LTEXT           "", IDC_STATUS, 8, 330, 284, 20
END
